/* Css Reset */
* {
  margin: 0px;
  padding: 0px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar Logo and Imag */
#logo {
  margin: 6px 16px;

}

#logo img {
  height: 32px;
  border-radius: 40px;
  margin: 3px 6px;

}

/* Navigation Bar List Styling */
#navbar ul {
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;

}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  text-decoration: none;
  border-radius: 20px;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* Home section */
#home {
  display: flex;
  flex-direction: column;
  height: 578px;
  padding: 3px 200px;
  align-items: center;
  justify-content: center;

}

#home::before {
  content: "";
  background: url(../Img/bg5.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 642px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  color: black;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#home p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
}

/* Services section */
#services {
  display: flex;
  margin: 34px;
}

#services .box {
  border: 2px solid black;
  padding: 34px;
  margin: 3px 20px;
  border-radius: 20px;
  background-color: #fcf8f8;
  font-family: 'Bree Serif', serif;
}

#services .box img {
  height: 150px;
  display: block;
  margin: auto;

}

/* Client section */
.client-section {
  position: relative;

}

.client-section::before {
  content: "";
  background: url(../bg5.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;


}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;

}

#clients img {
  height: 125px;
  border-radius: 100px;

}

.client-iteam {
  padding: 34px;
}

/* contact section */
#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url(../bg1.jpg) no-repeat center center/cover;

}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 34px;

}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 0.7rem;
  font-size: 15px;
  border-radius: 7px;
  font-family: 'Bree Serif', serif;


}

.contact-box form {
  width: 40%;
}

.contact-box label {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  width: 40%;
}
/* footer */
footer{
  background-color: black;
  padding: 9px 20px;
  color: white;
  font-size: 17px;
}

/* Utility Class */
.h-primary {
  font-size: 2.8rem;
  padding: 12px;
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
}

.h-secondary {
  font-size: 2.8rem;
  padding: 12px;

}

.btn {
  padding: 6px 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 17px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.ntn {
  padding: 8px;
  font-size: 11px;
  display: block;
  margin: auto;
  width: 101%;
  text-align: center;
  border-radius: 7px;
  background-color: #893232;
  border: 2px solid white;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(182, 180, 180);

}

.center {
  text-align: center;
}